In [1]:
#ContohList
L1 = [1, 4, 2, 13]
print(type(L1))

<class 'list'>

In [3]:
L2 = ["a", "Python", 3]
print(type(L2))

<class 'list'>

In [4]:
print(L1)
print(L2)

[1, 4, 2, 13]
['a', 'Python', 3]

In [6]:
#SifatSifatList
#1.Terurut/Ordered
print("Memanggil List L1 dengan indeks urutan:", L1[0:3])

#2.BisaDiganti/Mutable
L1[1] = 2
print("List L1 setelah diganti elemennya", L1)

L1 = [1, "dua", True, 2+3j]

#3.DapatDiindeks/Slicing
print("slicing list L1:", L1[3])

#4.Dapat Diijinkan Duplikasi
L1 = [1, "dua", True, 2+3j, 2+3j]
print("Duplikasi pada List L1:", L1)

#5.DapatMengubahDataDenganMenggantiElemenTertentu
L1 = [1, "dua", True, 2+3j]
L1[2] = 3
print("Data Setelah Diubah:", L1)

#6.dapatMenambahkanElemenBaruPadaData
L1 = [1, "dua", True, 2+3j]
L1.remove(2+3j)
print("Data setelah dihapus elemennya:", L1)

Memanggil List L1 dengan indeks urutan: [1, 4, 2]
List L1 setelah diganti elemennya [1, 2, 2, 13]
slicing list L1: (2+3j)
Duplikasi pada List L1: [1, 'dua', True, (2+3j), (2+3j)]
Data Setelah Diubah: [1, 'dua', 3, (2+3j)]
Data setelah dihapus elemennya: [1, 'dua', True]

In [7]:
#7.MenambahkanDataMenggunakanFungsiExtend(MenambahkanElemenBaruPadaListNamunElementTersebutDitambahkanSecaraIndividual)
L1 = [1, "dua", True, 2+3j]
L1.extend("nanas")
print(L1)

[1, 'dua', True, (2+3j), 'n', 'a', 'n', 'a', 's']

In [8]:
L1 = [1, "dua", True, 2+3j]
L1.extend(["nanas"])
print(L1)

[1, 'dua', True, (2+3j), 'nanas']

In [9]:
#8.MenambahkanDataMenggunakanFungsiInsert(MenambahkanElemenBaruDiListPadaIndeksTertentu)
L1 = [1, "dua", True, 2+3j]
L1.insert(2, 5)
print(L1)

[1, 'dua', 5, True, (2+3j)]

In [10]:
#9.MenghapusElemenDariListMenggunakanFungsiPop(MenghapusBerdasarkanIndeks)
L1 = [1, "dua", True, 2+3j]
L1.pop(2)
print(L1)

[1, 'dua', (2+3j)]

In [11]:
L1 = [1, "dua", True, 2+3j]
L1.pop()
print(L1)

[1, 'dua', True]

Latihan 1. Buatlah List kalian sendiri

In [12]:
LS = [2, "tiga", False, 3+4j]
print(LS)

[2, 'tiga', False, (3+4j)]

Latihan 2. Ganti elemen yang ada pada list yang kalian buat

In [17]:
LS = [2, "tiga", False, 3+4j]

LS.extend("apple")
print(LS)

LS.extend(["apple"])
print(LS)

LS.insert(3, 6)
print(LS)

LS.pop(3)
print(LS)

[2, 'tiga', False, (3+4j), 'a', 'p', 'p', 'l', 'e']
[2, 'tiga', False, (3+4j), 'a', 'p', 'p', 'l', 'e', 'apple']
[2, 'tiga', False, 6, (3+4j), 'a', 'p', 'p', 'l', 'e', 'apple']
[2, 'tiga', False, (3+4j), 'a', 'p', 'p', 'l', 'e', 'apple']

In [3]:
#contoh tuple
T1=(1,True,"dua",1j+2)
print("ini adalah tuple: ", T1)

ini adalah tuple:  (1, True, 'dua', (2+1j))

In [5]:
T11=1,True,"dua",1j+2
print("ini adalah tuple: ", T11)

ini adalah tuple:  (1, True, 'dua', (2+1j))

In [8]:
type(T1)

tuple

In [9]:
type(T11)

tuple

In [10]:
#terurut/ordered
T1[0:3]

(1, True, 'dua')

In [11]:
#tidak bisa diganti/immutable
T1[2]="manusia"

TypeError: 'tuple' object does not support item assignment

In [12]:
#dapat di indeks/slicing
print("elemen kedua dari tupple T1 adalah: ", T1[1])

elemen kedua dari tupple T1 adalah:  True

In [13]:
#dapat diizinkan duplikasi
T11=1,True,"dua",1j+2
T11

(1, True, 'dua', (2+1j))

In [15]:
#tidak dapat menambahkan elemen baru
T1=(1,True,"dua",1j+2)
print(f'tuple\t: {T1}')

tuple	: (1, True, 'dua', (2+1j))

In [16]:
T1.append(10)
T1.append(20)
print(f'tuple\t: {T1}')

AttributeError: 'tuple' object has no attribute 'append'

In [17]:
#tidak dapat menghapus elemen 
T1=(1,True,"dua",1j+2)
print(f'tuple\t: {T1}')

tuple	: (1, True, 'dua', (2+1j))

In [19]:
T1.remove(1)
print(f'tuple\t: {T1}')

AttributeError: 'tuple' object has no attribute 'remove'

In [21]:
#menggabungkan tuple
T5=T1+T11
T5

(1, True, 'dua', (2+1j), 1, True, 'dua', (2+1j))

In [22]:
T0=(1,2,3,"Tahu","Bakso",True,False)
T0

(1, 2, 3, 'Tahu', 'Bakso', True, False)

In [23]:
type(T0)

tuple

In [25]:
T6=(0,3,4,"apel",False,3j+0)
T6

(0, 3, 4, 'apel', False, 3j)

In [26]:
type(T6)

tuple

In [27]:
T77=T6+T0
T77

(0, 3, 4, 'apel', False, 3j, 1, 2, 3, 'Tahu', 'Bakso', True, False)